# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Dependencies
node_modules/
dist/
dist-srr/
*.local

# Environment variables
.env
.env.*
!.env.example